@import url("https://fonts.googleapis.com/css2?family=Anton&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f22f3d;
  --white-color: #fff;
  --black-color: #000;
  --box-shadow-color: #00000008;
  --plus-jakarta-sans-font: "Plus Jakarta Sans";
  --zeyada-font: "zeyada";
  --poppins-font: "Poppins";
  --bell-mt-font: "Bell MT";
  --anton-font: "Anton";
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 12px 0;
  background-color: var(--primary-color);
  font-family: var(--plus-jakarta-sans-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--white-color);
  cursor: pointer;
}

.heading {
  font-family: var(--bell-mt-font);
  font-weight: 700;
  line-height: 52px;
  font-size: 48px;
}

.para {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
}

.callUsAt {
  display: flex;
  align-items: center;
  gap: 20px;
}

.callUsAt > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.callUsAt > span {
  font-family: var(--zeyada-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.callUsAt > div span {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  white-space: nowrap;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 80px;
}

.homeWrapper {
  position: relative;
}

/*********** Background section CSS start ***********/

.backgroundWrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background-image: url('../src/assets/images/background-img.webp');
  background-size: cover;
  background-position: top;
}

/*********** Background section CSS end ***********/

/*********** Navbar section CSS start ***********/

.navWrapper {
  padding-top: 36px;
}

.navBarLogo {
  position: absolute;
  top: 0;
}

.navBarLogo img {
  width: 150px;
  height: 150px;
}

.navBar {
  padding: 15px 16px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0px 14px 34px 0px var(--box-shadow-color);
}

.navBar .navBarBig {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .navBarBig > div {
  width: 33.33%;
}

.navBarLink {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: var(--poppins-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 100% !important;
}

.navBarLink span {
  cursor: pointer;
}

.navBarLink span.active {
  font-weight: 600;
  color: var(--primary-color);
}

.navBarQuote {
  padding: 12px 45px;
  width: auto !important;
}

.navBar .navBarMobileIcon {
  display: none;
}

.navBarMobile .sidebar {
  width: 300px;
  min-height: 100vh;
  box-shadow: 0px 14px 34px 0px var(--box-shadow-color);
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 15;
  transition: 0.5s ease-in-out;
  padding: 20px;
}

.navBarMobile .sidebar.active {
  left: 0;
}

.navBarMobile .sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(from var(--black-color) r g b / 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.navBarMobile .sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.navBarMobile .sidebar .navBarLink {
  padding-top: 50px;
  position: relative;
  flex-direction: column;
  gap: 35px;
  font-weight: 600;
}

.navBarMobile .sidebar .navBarLink > img {
  cursor: pointer;
}

.navBarMobile .sidebar .navBarLink img {
  position: absolute;
  top: 0;
  right: 0;
}

.navBarMobile .navBarQuote {
  margin-top: 40px;
  width: fit-content !important;
}

/*********** Navbar section CSS end ***********/

/*********** Hero section CSS start ***********/

.heroWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 100px 0 120px;
}

.heroLeft {
  width: 60%;
}

.heroLeft p {
  font-weight: 400;
  margin-bottom: 20px;
}

.heroLeft h3 {
  font-family: var(--plus-jakarta-sans-font);
  border-right: 7px solid var(--primary-color);
  display: inline;
}

.heroLeft > span {
  display: block;
  font-family: var(--plus-jakarta-sans-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}

.heroLeft .heroLeftContact {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.heroLeft .heroLeftContact > img {
  cursor: pointer;
}

.heroRight {
  width: 40%;
  padding: 24px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0px 14px 34px 0px var(--box-shadow-color);
}

.heroRight h5 {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.heroRight p {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 20px 0;
}

.heroRight form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.heroRight form input,
.heroRight form textarea,
.heroRight form div span {
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: rgba(from var(--white-color) r g b / 0.4);
}

.heroRight form div span {
  opacity: 1;
  color: rgba(from var(--black-color) r g b / 0.4);
}

.heroRight form div {
  display: flex;
  gap: 12px;
}

.heroRight form div input {
  flex-grow: 1;
}

.heroRight form input::placeholder,
.heroRight form textarea::placeholder,
.heroRight form span {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black-color);
  opacity: 0.4;
}

.heroRight form input:focus-visible,
.heroRight form textarea:focus-visible {
  outline: none;
}

/*********** Hero section end ***********/

/*********** Experience section start ***********/

.experienceWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.experienceWrapper .experienceLeft {
  width: 30%;
  background-color: var(--primary-color);
  border-radius: 20px;
  border-top-left-radius: 140px;
  padding: 120px 90px 120px 60px;
}

.experienceWrapper .experienceRight {
  width: 70%;
}

.experienceWrapper .experienceLeft {
  font-family: var(--anton-font);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.experienceWrapper .experienceLeft h2 {
  letter-spacing: 0.08em;
  font-size: 144px;
}

.experienceWrapper .experienceRight div {
  display: inline-block;
  padding: 10px;
  margin: 10px 0 30px;
  background-color: var(--primary-color);
  transform: rotate(-2deg);
  color: var(--white-color);
}

.experienceWrapper .experienceRight p {
  width: 90%;
}

.experienceWrapper .experienceRight h6 {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 24px 0;
}

.experienceWrapper .experienceRight button {
  padding: 12px 60px;
}

/*********** Experience section end ***********/

/*********** Contract section start ***********/

.contractWrapper {
  margin: 120px 0;
}

.contractWrapper h2 {
  text-align: center;
  margin-bottom: 60px;
}

.contractImageWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.contractWrapper .contractLeft,
.contractWrapper .contractRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contractWrapper .contractRight {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.contractWrapper .contractLeft img,
.contractWrapper .contractRight img {
  width: 100%;
}

.contractWrapper .contractImgHover {
  position: relative;
}

.contractWrapper .contractRight img:hover ~ .contractDivHover,
.contractWrapper .contractDivHover:hover {
  transform: translateX(0%);
  overflow: scroll;
  scrollbar-width: none;
}

.contractWrapper .contractDivHover {
  position: absolute;
  left: -1px;
  right: 0;
  bottom: 0;
  justify-content: center;
  flex: 1 0 100%;
  transform: translateX(-100%);
  transition: 0.3s ease;
  padding: 40px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.contractWrapper .contractLeft .contractDivHover {
  position: absolute;
  left: -1px;
  right: 0;
  bottom: 0;
  justify-content: center;
  flex: 1 0 100%;
  transform: translateY(100%);
  transition: 0.3s ease;
  padding: 40px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.contractWrapper .contractLeft img:hover ~ .contractDivHover,
.contractWrapper .contractDivHover:hover {
  transform: translateY(0%);
  overflow: scroll;
  scrollbar-width: none;
}

.contractWrapper .contractRight .contractDivHover {
  top: 0;
}

.contractWrapper .contractDivHover h3 {
  font-family: var(--bell-mt-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}

.contractWrapper .contractDivHover p {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  margin: 28px 0;
}

.contractWrapper .contractDivHover button {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: none;
  border-radius: 10px;
  font-family: var(--plus-jakarta-sans-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 10px 60px;
}

/*********** Contract section end ***********/

/*********** Project section start ***********/

.projectWrapper .projectUpper .projectUpperHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.projectWrapper .projectUpper .projectUpperLower {
  width: 80%;
}

.projectWrapper .projectUpper .projectUpperLower span {
  display: block;
}

.projectWrapper .projectMiddle {
  margin: 60px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.projectWrapper .projectMiddle img {
  width: 100%;
}

.projectWrapper .projectLower {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.projectWrapper .projectLower .projectLowerUpper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.projectWrapper .projectLower .projectLowerUpper > img {
  cursor: pointer;
}

.projectWrapper .projectLower .projectLowerUpper button {
  padding: 12px 30px;
}

.projectWrapper .projectLower .projectLowerLower {
  padding: 10px;
}

/*********** Project section end ***********/

/*********** Client section start ***********/

.clientWrapper {
  margin: 120px 0 160px;
}

.clientWrapper .clientRight {
  border-radius: 20px;
  padding: 80px 75px;
  width: 35%;
}

.clientWrapper .clientLeft {
  width: 65%;
}

.clientWrapper .clientLeft p {
  width: 100%;
}

.clientWrapper .clientRight h2 {
  line-height: 170px;
}

/*********** Client section end ***********/

/*********** Technologies section start ***********/

.technologiesWrapper h2 {
  text-align: center;
  margin-bottom: 60px;
}

.technologiesWrapper .technologies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.technologiesWrapper .technologies img {
  width: 86px;
}

.technologiesWrapper .technologies div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 72px 0px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 14px 34px 0px var(--box-shadow-color);
  backdrop-filter: blur(54px);
}

/*********** Technologies section end ***********/

/*********** Reviews section start ***********/

.reviewsWrapper {
  margin: 120px 0;
}

.reviewsWrapper .reviewsLowerUpper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 60px 0 24px;
  border-radius: 20px;
}

.reviewsWrapper .reviewsLowerUpper .reviewsLowerRight p {
  font-size: 24px;
  line-height: 47px;
  margin: 24px 0;
}

.reviewsWrapper .reviewsLowerUpper .reviewsLowerRight span {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.reviewsWrapper .reviewsLowerLower,
.reviewsWrapper .reviewsLowerLower span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.reviewsWrapper .reviewsLowerLower span {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*********** Reviews section end ***********/

/*********** Form section start ***********/

.formWrapper {
  margin-bottom: 70px;
  border-radius: 20px;
  box-shadow: 0px 14px 34px 0px var(--box-shadow-color);
  border: 1px solid var(--white-color);
}

.formWrapper .formLeft {
  padding: 60px 40px 50px;
  border-radius: 20px;
  width: 50%;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.formWrapper .formLeft .formLeftList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formWrapper .formLeft .formLeftList div img {
  width: 50px;
  height: 50px;
}

.formWrapper .formLeft h2 {
  margin-bottom: 30px;
}

.formWrapper .formLeft .formLeftList div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.formWrapper .formLeft .formLeftList div span {
  font-family: var(--plus-jakarta-sans-font);
  font-size: 24px;
  font-weight: 600;
  /* line-height: 47px; */
  letter-spacing: 0.03em;
}

.formWrapper .formRight {
  width: 50%;
  box-shadow: none;
  border: none;
}

.formWrapper .heroRight form input,
.formWrapper .heroRight form textarea,
.formWrapper .heroRight form span {
  box-shadow: 0px 14px 34px 0px var(--box-shadow-color);
}

/*********** Form section end ***********/

@media (max-width: 1300px) {
  .clientWrapper .clientLeft {
    width: 60%;
  }

  .clientWrapper .clientRight {
    width: 40%;
    padding: 60px 40px;
  }
}

@media (max-width: 1200px) {
  .callUsAt {
    flex-direction: column;
    gap: 0;
  }

  .heading {
    font-size: 42px;
  }

  .wrapper {
    padding: 0px 60px;
  }

  .navBar .navBarBig .navBarLink {
    gap: 35px;
  }

  .heroWrapper {
    flex-direction: column;
  }

  .heroLeft {
    width: 100%;
  }

  .heroRight {
    margin-top: 25px;
    width: 100%;
  }

  .experienceWrapper .experienceLeft {
    width: 35%;
  }

  .experienceWrapper .experienceRight {
    width: 65%;
  }

  .projectWrapper .projectUpper .projectUpperLower {
    width: 100%;
  }

  .technologiesWrapper .technologies {
    grid-template-columns: repeat(3, 1fr);
  }

  .formWrapper .formRight,
  .formWrapper .formLeft {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .clientWrapper .clientRight {
    font-size: 32px;
  }

  .clientWrapper .clientRight h2 {
    font-size: 130px;
  }
}

@media (max-width: 1024px) {
  .projectWrapper .projectUpper .projectUpperHeading .callUsAt {
    display: none;
  }
}

@media (max-width: 991px) {
  .callUsAt > div span {
    font-size: 18px;
  }

  .wrapper {
    padding: 0px 50px;
  }

  .navBar {
    padding: 15px 25px;
  }

  .navBar .navBarBig {
    display: none;
  }

  .navBar .navBarMobileIcon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .experienceWrapper .experienceLeft {
    display: none;
  }

  .experienceWrapper .experienceRight {
    width: 100%;
  }

  .contractImageWrapper {
    flex-direction: column;
  }

  .contractWrapper .contractLeft,
  .contractWrapper .contractRight {
    width: 100%;
  }

  .projectWrapper .projectMiddle {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .technologiesWrapper .technologies div {
    padding: 60px 70px;
  }

  .technologiesWrapper .technologies div img {
    width: 60px;
  }

  .reviewsWrapper .reviewsLowerUpper {
    flex-direction: column;
  }

  .reviewsWrapper .reviewsLowerUpper .reviewsLowerRight {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 38px;
  }

  .heroLeft p {
    margin-bottom: 15px;
  }

  .heroLeft > span {
    margin-top: 15px;
  }

  .projectWrapper .projectMiddle {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .technologiesWrapper .technologies {
    grid-template-columns: repeat(2, 1fr);
  }

  .technologiesWrapper .technologies div {
    padding: 60px 70px;
  }

  .reviewsWrapper .reviewsLowerUpper .reviewsLowerRight p {
    font-size: 22px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 32px;
    line-height: 36px;
  }

  .wrapper {
    padding: 0px 30px;
  }

  .navBarLogo img {
    width: 120px;
    height: 120px;
  }

  .experienceWrapper .experienceRight h6 {
    font-size: 22px;
  }

  .technologiesWrapper .technologies div img {
    width: 42px;
  }

  .formWrapper .formLeft .formLeftList div img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    padding: 0px 20px;
  }
}
